.header {
	display: grid;
	grid-template-columns: 0.8fr 1.2fr 0.8fr;
	justify-items: center;
	margin: 0 auto;

	@media (max-width: 768px) {
		grid-template-columns: 0.7fr 1.5fr 0.7fr;
	}

	@media (max-width: 320px) {
		grid-template-columns: 0.4fr 1.5fr 0.4fr;
	}

	&__slider {
		grid-column-start: 2;
		text-align: center;
	}

	&__title {
		margin-bottom: 0.5em;
		font-size: 72px;
		font-weight: 300;
		line-height: 83px;
		text-align: center;
		color: #f2f4f7;

		@media (max-width: 768px) {
			font-size: 64px;
			line-height: 72px;
		}

		@media (max-width: 480px) {
			font-size: 48px;
			line-height: 64px;
		}

		@media (max-width: 320px) {
			font-size: 36px;
			line-height: 48px;
		}
	}

	&__text {
		margin-bottom: 4.5em;
		font-size: 18px;
		font-weight: 300;
		line-height: 21px;
		text-align: center;
		color: #f2f4f7;

		@media (max-width: 1024px) {
			margin-bottom: 4em;
		}

		@media (max-width: 767px) {
			margin-bottom: 3em;
			font-size: 16px;
			line-height: 19px;
		}

		@media (max-width: 479px) {
			margin-bottom: 2em;
		}

		@media (max-width: 320px) {
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 1px;
		}
	}

	&__btn {
		display: block;
		padding: 0.7em 1em;
		max-width: 13em;
		margin: 0 auto 4.5em;

		font-size: 18px;
		font-weight: 400;
		line-height: 21px;
		text-align: center;

		border: 2px solid transparent;
		border-image: linear-gradient(92.82deg, #fc4060 0%, #8061fd 100%);
		border-image-slice: 1;
		background-clip: text;
		background-image: linear-gradient(92.82deg, #fc4060 0%, #8061fd 100%);
		-webkit-text-fill-color: transparent;

		&:hover{
			border-image: linear-gradient(92.82deg, #ff98a9 0%, #ae9aff 100%);
			border-image-slice: 1;
			background-image: linear-gradient(92.82deg, #ff98a9 0%, #ae9aff 100%);
		}

		&:active{
			border-image: linear-gradient(92.82deg, #ffffff 0%, #ffffff 100%);
			border-image-slice: 1;
			background-image: linear-gradient(92.82deg, #ffffff 0%, #ffffff 100%);

		}

		@media (max-width: 767px) {
			padding: 0.5em 0.8em;
			max-width: 12em;
			margin: 0 auto 4em;
			font-size: 16px;
			line-height: 19px;
		}

		@media (max-width: 320px) {
			padding: 0.5em 0.8em;
			max-width: 9em;
			margin: 0 auto 3em;
			font-size: 16px;
			line-height: 19px;
		}
	}

	&__controls {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-items: center;

		width: 12.5em;
		margin: 0 auto 1.5em;

		@media (max-width: 767px) {
			width: 10em;
			margin: 0 auto 1.5em;
		}
	}

	&__dot {
		width: 16px;
		height: 16px;
		
		border-radius: 50%;
		border: 3px solid #c4c4c429;

		@media (max-width: 767px) {
			border: 2px solid #c4c4c429;
		}
		
		@media (max-width: 320px) {
			width: 14px;
			height: 14px;
		}
	}
	&__dot--active {
		width: 16px;
		height: 16px;
		
		border-radius: 50%;
		border: 3px solid #ffffff;
		
		@media (max-width: 767px) {
			border: 2px solid #ffffff;
		}
		
		@media (max-width: 320px) {
			width: 14px;
			height: 14px;
		}
	}
}
