.nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 10em;
	margin-bottom: 13em;

	@media (max-width: 1024px) {
		grid-column-gap: 5em;
		margin-bottom: 7em;
	}

	@media (max-width: 768px) {
		grid-column-gap: 0em;
		margin-bottom: 3em;
	}

	@media (max-width: 480px) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 0.5fr;
	}

	@media (max-width: 320px) {
		margin-bottom: 2em;
	}


	&__logo {
		grid-column-start: 1;
	}

	&__list {
		grid-column-start: 2;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
	}

	&__item {
		grid-column-start: auto;
		padding: 1em;
	}

	&__link{
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		color: #a0a3a7;

		&:hover{
			color:#dc5dec;
		}

		&:active{
			color:  #dbdee2;
		}
	}

	&__btn {
		display: block;
		grid-column-start: 3;

		padding: 1em 1.7em;
		margin-left: auto;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: #24282e;
		
		background: linear-gradient(93.22deg, #e1e1e1 8.37%, #ffffff 99.95%);
		border-radius: 999px;

		&:hover{
			background: #dbccff
		}

		&:active{
			background: #c3aafd
		}

		@media (max-width: 767px) {
			padding: 1em 0.5em;
		}
		
		@media (max-width: 479px) {
			grid-column-start: 2;
			padding: 0.5em 0.5em;
			margin: 0 auto;
			border-radius: 15px;
		}
	}
}
